* {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
    background-image: url(../images/pattern-background-desktop.svg);
    background-color: hsl(225, 100%, 94%);
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
/** IMAGE **/
.hero1 {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    border-radius: 15px 15px 0 0;
}
/** IMAGE -END **/

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background-color: white;
    width: 35rem;
    border-radius: 15px;
}
.text {
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.heading h1 {
    font-size: 2.6rem;
}
.heading p {
    font-size: 1.5rem;
    color: hsl(224, 23%, 55%);
}
.annual-plan {
    background-color: hsl(225, 100%, 98%);
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 10px;
}
.price {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.price h2 {
    font-size: 1.5rem;
}
.price p {
    font-size: 1.3rem;
    color: hsl(224, 23%, 55%)
}
.change-link a {
    font-size: 1.3rem;
    color: hsl(245, 75%, 52%);
}
.change-link a:hover {
    text-decoration: none;
}
.payment-link a {
    background-color: hsl(245, 75%, 52%);
    color: white;
    text-decoration: none;
    display: block;
    padding: 1.5rem;
    text-align: center;
    border-radius: 10px;
    font-size: 1.3rem;
    box-shadow: 1px 10px 20px 5px hsl(225, 28%, 78%)
}
.payment-link a:hover {
    opacity: 0.8;
}
.cancel-link a {
    color: grey;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    text-decoration: none;
}